<div class="recipes">
  <div class="recipes-container">
    <app-navbar></app-navbar>
    <div class="recipes-container-body">
      <app-recipes-list
        class="recipes-container-body-list"
        (editRecipeEvent)="editRecipe($event)"
        (addNewRecipeEvent)="addNewRecipe($event)"
        (showDetailsRecipeEvent)="showRecipeDetails()"
      ></app-recipes-list>
      <app-recipe-item
        *ngIf="!showForm"
        (editRecipeEvent)="editRecipe($event)"
        class="recipes-container-body-item"
      ></app-recipe-item>
      <app-add-edit-recipe
        *ngIf="showForm"
        [recipeForEdit]="recipeToEdit"
        [showAddNewRecipeForm]="showAddNewRecipeForm"
        class="recipes-container-body-item"
      ></app-add-edit-recipe>
    </div>
  </div>
</div>
