@import "~src/theme/theme-variables";

.recipe {
  padding: 16px;
  &-body {
    display: flex;
    flex-direction: column;

    &-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $secondary;
      padding-bottom: 8px;
      margin-bottom: 8px;

      &-name {
        font-size: 18px;
      }

      &-buttons {
        button {
          margin: 4px;
          padding: 4px 8px;
        }

        &-delete {
          background-color: $warning;
        }
        &-edit {
          background-color: $blue;
        }
      }
    }

    &-time {
      margin-bottom: 16px;
    }

    &-description {
      margin-bottom: 16px;
    }
  }

  &-else {
    padding: 16px;
    font-size: 18px;
  }
}
