<div class="recipe" *ngIf="recipe$ | async as recipe; else selectRecipe">
  <div class="recipe-body">
    <div class="recipe-body-header">
      <span class="recipe-body-header-name"
        ><b>{{ recipe.name }}</b></span
      >
      <div class="recipe-body-header-buttons">
        <button
          class="recipe-body-header-buttons-delete"
          (click)="deleteRecipe(recipe)"
        >
          Delete
        </button>
        <button class="recipe-body-header-buttons-edit">Edit</button>
      </div>
    </div>
    <span class="recipe-body-time"
      ><b>Preparation time: </b>
      {{ recipe.preparationTimeInMinutes | date: "h:mm" }}</span
    >
    <span><b>Description: </b></span>
    <span class="recipe-body-description">{{ recipe.description }}</span>
    <span><b>Ingredients: </b></span>
    <div *ngFor="let ingredient of recipe.ingredients">
      {{ ingredient.name }}: quantity {{ ingredient.quantity }}
    </div>
  </div>
</div>

<ng-template #selectRecipe>
  <div class="recipe-else">
    <span> Select Recipe from list on the side.</span>
  </div></ng-template
>
